body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #333;
}

#py-code {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 60px;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
}



#run-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#run-btn:hover {
    background-color: #0056b3;
}
